
// $deep_blue:#0d354f;
// $light_brown:#af8466;
// $light_ass:#727272;
$orange_icon:#ef4a23;


// responsive 
$total_grid:12;
$break_points:("xs":0px,"sm":576px,"md":768px,"lg":992px,"xl":1200px,"xxl": 1400px);
$break_point_names:xs,sm,md,lg,xl,xxl;

